/*Fonts, sizes and colors not added (google font?)*/
/*No padding anywhere lol*/
/*Lines are prob created through animatbles*/
/*idk how to make that scrolling effect*/


/*Import fonts from fonts.css files */
@import url(./fonts.css);

/*Parallax Effect*/
.parallaxTop {
  /* The image used */
  background-image: url("Gary.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topText{
  text-align:center;
  padding-top: 100px;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: white;
}

.garyShengText{
  text-align:center;
  padding-top: 50px;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: white;
}

.header{
  text-align:center;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}

.headerWhite{
  text-align:center;
  padding-top: 50px;
  font-size: 30px;
  color: #FFFFFF;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}
.col-5{
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}

.blueGradient{
  background-image: url("Gary.jpg");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;

}
.jobposition{
  color: olivedrab;
}

.location{
  color: dimgray;
}

.jobtext{
  color:darkgray;
}
